<div class="bg-muted w-full py-12 flex flex-col gap-4 justify-center align-center">
  <h1 class="text-black font-extrabold text-5xl text-center">
    Discover Your Next Favourite Album
  </h1>
  <p class="text-muted-foreground font-medium text-base text-center">
    Personalized Recommendations based on your listen preferences
  </p>

</div>
