<h3 class="flex flex-row justify-between text-black text-2xl font-semibold py-6">
  My List
  <% if current_user.present? %>
    <%= link_to "./list", class: "flex justify-center items-center gap-1 self-stretch bg-secondary font-medium text-sm rounded px-2 py-1" do %>
      <%= phosphor_icon "plus", class: "h-4 w-4" %>
      <p>Create New List</p>
    <% end %>
  <% else %>
  <% end %>
</h3>
<% if current_user.present? %>
  <%= render UserListComponent.new(current_user: current_user) %>
<% else %>
  <div>User not login yet</div>
<% end %>