<h3 class="text-black text-2xl font-semibold">
  My List
</h3>
<% if current_user.present? %>
  <%= render UserListComponent.new(current_user: current_user) %>
<% else %>
  <div>User not login yet</div>
<% end %>