<div x-show="open" @click.outside="open = false" class="absolute right-6 mt-2 p-4 bg-white border rounded shadow">
<!--  <p>Hello, <%#= current_user.username %>!</p>-->
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-red-600" %>
</div>
