<div class="min-h-screen bg-gray-50">
    <div class="max-w-4xl mx-auto px-4 py-8">
        <%= render "admin/artist/profile_header" %>
        <%= render "admin/artist/album_section" %>
        <%= render "admin/artist/song_section" %>
    </div>
</div>