<h1 class="text-xl font-bold mb-2">Sample name</h1>
<p class="sm pb-4">The first installment in my massive progressive rock listening list, which hopes to provide an outline of
  what constitutes a "comprehensive" prog rock collection. This particular list covers "classic era" Progressive Rock,
  and is restricted to bands who released their most significant work during the prog rock heyday of the late-60's
  through the late-70's. For prog rock artists who didn't begin releasing albums after that time, see my
  accompanying Modern Progressive Rock. I've also omitted most artists who are more commonly associated with the
  Krautrock movement, the jazz rock scene, or with the avant-prog/Rock In Opposition movements.</p>
  <div class="flex flex-col p-1">
    <div class="flex justify-between items-center pl-4 pr-10 self-stretch border-t-2 border-b-2 border-slate-200 inline-flex py-5">
      <div class="flex flex-row gap-3 items-center">
        <div class="w-16 h-16 bg-zinc-300 rounded"></div>
        <p class="text-base font-normal w-auto">animal</p>
      </div>
      <p class="text-base font-normal w-auto">Maroon 5</p>
      <p class="text-base font-normal w-auto"> 2005</p>
      <div class="flex flex-row gap-2 items-center">
        <%= phosphor_icon "star", class: "h-4 w-4" %>
        <p class="text-base font-normal w-auto">4.1</p>
      </div>
      <div class="flex flex-row gap-2 items-center bg-primary rounded-[5px] py-1 px-2 gap-2">
        <%= phosphor_icon "trash", class: "h-4 w-4 text-primary-foreground" %>
        <p class="text-base font-normal text-primary-foreground">Delete</p>
      </div>
    </div>
  </div>